.header {
    background-color: #31b44b;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 100px;
        }
    
        .menu {
            .menuItem {
                color: #fff;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}