.post {
    display: flex;
    align-items: center;
    margin: 40px 0;
    text-decoration: none;
    color: #000;

    .content {
        flex: 1;
    }

    .image {
        width: 250px;
    }

    .category {
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        span {
            display: flex;
            align-items: center;
        }

        svg {
            margin-right: 5px;
        }
    }

    .title {
        font-size: 22px;
        font-weight: 700;
        margin: 10px 0;
    }

}